{% extends "base.html" %}
{% block title %}
Contact - Flask Boilerplate
{% endblock %}

{% block content %}

<h1>welcome to the boilerplate contact</h1>

{% endblock %}


{% block content %}


<DOCTYPE html>
    <html>
    <head>
    <title> Contact Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    </head>
    <body>
    <h1>Welcome to the About Page</h1>
    <script src= "{{ url_for('static', filename='js/main.js') }}"></script>
    </body>
    </html>
    
    {% endblock %}